body {
	padding: 0;
	width: 66%;
	margin: auto;
	font-family:"新細明體", "細明體", Arial, Verdana, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: #333333;

}
.navtop {
	float: right;
	margin: 0;display: table-row;
	padding: 0;
	position: relative;
	top: 36px;
	line-height: 12px;
}
.navtop a:hover {
	color: #ff9900;
}
.nav_top01 {
	display: inline-block;
	font-size: 12px;
}
li {
	list-style-type: none;
}
#list02 {
	display: inline;
}
/*
container########################
 */
.container {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	    flex-direction: row;
	position: relative;
	top: 10px;
	line-height: 12px;
}
.list a:hover {
	color: #ff9900;
}
#intro {
	margin-top: 30px;
}
.image {
	margin-left: -5px;
}
#close {
	position: relative;
	right: 5px;
}
.list {
	font-size: 13px;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
    flex-direction: column;
	max-width: 150px;
	position: relative;
	left: 290px;
	color: white;
}
.line {
	width: 180px;
}
.container02 {
	display: flex;
	display: -webkit-flex;
	    -webkit-flex-direction: row;
	        -ms-flex-direction: row;
	            flex-direction: row;
	position: relative;
	top: 20px;
	left: -15px;
}
#position {
	background-color: black;
	width: 300px;
	height: 304px;
	color: white;
	font-size: 13px;
}
#position p {
	position: relative;
	top: 20px;
	left: 20px;
	line-height: 20px;
}
#position img {
	position: relative;
	top: 20px;
	left: 30px;
}
/*
article ######################
 */
.song {
	position: relative;
	top: 30px;
	font-size: 12px;
}
.main {
	width: 87%;
	float: left;
	position: relative;
	top: 20px;
	left: -15px;
}
.songlist {
	background-color: #EEF5DF;
}
.article {
	float: left;
}
#black {
	width: 250px;
	height: 100px;
	background-color: black;
	margin: 0;
	float: left;
	margin-right: 20px;
}
.picture {
	float: left;
	clear: left;
	margin-right: 10px;
	margin-bottom: 15px;
	font-size: 12px;
}
.content p {
	font-size: 12px;
	line-height: 20px;
	padding-right: 20px;
}
.content img {
	float: left;
	clear: left;
	margin-right: 20px;
	display: flex;
	display: -webkit-flex;
		    -webkit-flex-direction: column;
	        -ms-flex-direction: column;
	            flex-direction: column;
}
hr {
	border: 1px dotted;
	width: 100%;
}
.text_brown {
	font-size: 14px;
	color: red;
}
#white {
	width: 250px;
	height: 180px;
	background-color: white;
	margin: 0;
	float: left;
	margin-right: 20px;
	clear: left;
}
/*
aside #######################
 */
.side {
	width: 215px;
	height: 1670px;
	float: right;
	background-color: #EEF5DF;
	position: absolute;
	top: 560px;
	right: 250px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 24px;
	clear: both;
}
#spacer_green {
	margin-left: -5px;
	margin-top: 20px;
}
#btop {
	float: right;
	position: absolute;
	top: 70px;
	right: 0px;
}
#btline {
	position: relative;
	top: 90px;
}
footer {
	position: relative;
	clear: both;
}
#logo_artcenter {
	position: relative;
	top: 90px;
	float: left;
}
.link {
	position: relative;
	top: 60px;
	float: right;
	clear: right;
	line-height: 25px;
}
.school {
	position: relative;
	top: 90px;
	font-size: 12px;
}
#bottom {
	width: 100%;
	background-color: green;
	height: 10px;
	position: relative;
	top: 100px;
	margin-top: 20px;
	margin-bottom: 90px;
}




